/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@import url(ozgaruvchi.scss);
@import url(responsive.scss);
@media screen and (max-width: 600px) {
  .col {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .navbar-toggler {
    align-items: center;
    justify-content: end;
  }
  .vesas-mini {
    flex-direction: column;
    width: 100%;
  }
  .vesas-mini img {
    width: 80px;
    margin-right: 52px;
    margin-top: 35px;
  }
  .mugs-mini {
    flex-direction: column;
    width: 100%;
  }
  .mugs-mini img {
    width: 80px;
    margin-right: 54px;
    margin-top: 35px;
  }
  .plates-mini {
    flex-direction: column;
    width: 100%;
  }
  .plates-mini img {
    width: 80px;
    margin-right: 56px;
    margin-top: 35px;
  }
  .unique-img {
    border: 1px solid red;
  }
  .unique-img img {
    max-width: 570px;
  }
  .card-history {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .gold {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .gold .gold-about {
    margin-top: 450px;
  }
  .silver {
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .silver .silver-about {
    margin-top: -280px;
  }
  .banner {
    width: 100%;
    text-align: center;
  }
  .footer-card {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .footer-end {
    text-align: center;
  }
  .created-img {
    flex-direction: column;
  }
  .created-img img:first-child {
    z-index: -1;
    width: 350px;
    position: relative;
    top: 2090px;
    left: 240px;
  }
  .created-img img:nth-child(2) {
    z-index: -2;
    width: 310px;
    position: relative;
    top: 2280px;
    left: 140px;
  }
  .created-text {
    text-align: center;
  }
  .drop {
    width: 100%;
    flex-direction: column;
  }
  .drop .input-all {
    width: 100%;
    flex-direction: column;
  }
  .drop .name-input-1 p {
    margin-left: 55px;
  }
  .drop .name-input-1 .name-input {
    margin-left: 50px;
  }
  .sorovnoma {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input-btn {
    margin-left: 50px;
  }
  .row {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .row .col {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .contact-img img {
    width: 534px;
  }
  .banner-fon {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .banner-fon .banner-shop-text {
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .col {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .card-history {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .banner {
    width: 100%;
    text-align: center;
  }
  .footer-card {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .footer-end {
    text-align: center;
  }
  .drop {
    width: 100%;
    flex-direction: column;
  }
  .drop .input-all {
    width: 100%;
    flex-direction: column;
  }
  .drop .name-input-1 p {
    margin-left: 55px;
  }
  .drop .name-input-1 .name-input {
    margin-left: 50px;
  }
  .sorovnoma {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input-btn {
    margin-left: 50px;
  }
  .row {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .row .col {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .contact-img img {
    width: 700px;
  }
  .banner-fon {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .banner-fon .banner-shop-text {
    text-align: center;
  }
}
.banner, .created-text, .footer-end, .row {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .col, .vesas-mini {
    -webkit-box-orient: vertical;
    width: 100%;
  }
  .col {
    flex-direction: column;
    text-align: center;
  }
  .navbar-toggler {
    align-items: center;
    justify-content: end;
  }
  .vesas-mini {
    flex-direction: column;
    margin-right: 52px;
    margin-top: 35px;
  }
}
.card-history, .footer-card, .gold, .mugs-mini {
  -webkit-box-orient: vertical;
  width: 100%;
}

.mugs-mini {
  flex-direction: column;
  margin-right: 54px;
  margin-top: 35px;
}

.card-history, .footer-card, .gold {
  flex-direction: column;
  text-align: center;
}

.created-img, .drop {
  -webkit-box-orient: vertical;
}

.created-img {
  flex-direction: column;
}
.created-img img {
  width: 350px;
  position: relative;
  top: 2090px;
  left: 240px;
}

.banner {
  width: 100%;
}

.drop {
  width: 100%;
  flex-direction: column;
  flex-direction: column;
}

.input-btn, .name-input {
  margin-left: 50px;
}

.row {
  width: 100%;
  flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .col {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .navbar-toggler {
    align-items: center;
    justify-content: end;
  }
  .vesas-mini {
    flex-direction: column;
    width: 100%;
  }
  .vesas-mini img {
    width: 80px;
    margin-right: 52px;
    margin-top: 35px;
  }
  .mugs-mini {
    flex-direction: column;
    width: 100%;
  }
  .mugs-mini img {
    width: 80px;
    margin-right: 54px;
    margin-top: 35px;
  }
  .plates-mini {
    flex-direction: column;
    width: 100%;
  }
  .plates-mini img {
    width: 80px;
    margin-right: 56px;
    margin-top: 35px;
  }
  .unique-img {
    border: 1px solid red;
  }
  .unique-img img {
    max-width: 570px;
  }
  .card-history {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .gold {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .gold .gold-about {
    margin-top: 450px;
  }
  .silver {
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .silver .silver-about {
    margin-top: -280px;
  }
  .banner {
    width: 100%;
    text-align: center;
  }
  .footer-card {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .footer-end {
    text-align: center;
  }
  .created-img {
    flex-direction: column;
  }
  .created-img img:first-child {
    z-index: -1;
    width: 350px;
    position: relative;
    top: 2090px;
    left: 240px;
  }
  .created-img img:nth-child(2) {
    z-index: -2;
    width: 310px;
    position: relative;
    top: 2280px;
    left: 140px;
  }
  .created-text {
    text-align: center;
  }
  .drop {
    width: 100%;
    flex-direction: column;
  }
  .drop .input-all {
    width: 100%;
    flex-direction: column;
  }
  .drop .name-input-1 p {
    margin-left: 55px;
  }
  .drop .name-input-1 .name-input {
    margin-left: 50px;
  }
  .sorovnoma {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input-btn {
    margin-left: 50px;
  }
  .row {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .row .col {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .contact-img img {
    width: 534px;
  }
  .banner-fon {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .banner-fon .banner-shop-text {
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .col {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .card-history {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .banner {
    width: 100%;
    text-align: center;
  }
  .footer-card {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .footer-end {
    text-align: center;
  }
  .drop {
    width: 100%;
    flex-direction: column;
  }
  .drop .input-all {
    width: 100%;
    flex-direction: column;
  }
  .drop .name-input-1 p {
    margin-left: 55px;
  }
  .drop .name-input-1 .name-input {
    margin-left: 50px;
  }
  .sorovnoma {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input-btn {
    margin-left: 50px;
  }
  .row {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .row .col {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .contact-img img {
    width: 700px;
  }
  .banner-fon {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .banner-fon .banner-shop-text {
    text-align: center;
  }
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@media screen and (max-width: 600px) {
  .col {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .navbar-toggler {
    align-items: center;
    justify-content: end;
  }
  .vesas-mini {
    flex-direction: column;
    width: 100%;
  }
  .vesas-mini img {
    width: 80px;
    margin-right: 52px;
    margin-top: 35px;
  }
  .mugs-mini {
    flex-direction: column;
    width: 100%;
  }
  .mugs-mini img {
    width: 80px;
    margin-right: 54px;
    margin-top: 35px;
  }
  .plates-mini {
    flex-direction: column;
    width: 100%;
  }
  .plates-mini img {
    width: 80px;
    margin-right: 56px;
    margin-top: 35px;
  }
  .unique-img {
    border: 1px solid red;
  }
  .unique-img img {
    max-width: 570px;
  }
  .card-history {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .gold {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .gold .gold-about {
    margin-top: 450px;
  }
  .silver {
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .silver .silver-about {
    margin-top: -280px;
  }
  .banner {
    width: 100%;
    text-align: center;
  }
  .footer-card {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .footer-end {
    text-align: center;
  }
  .created-img {
    flex-direction: column;
  }
  .created-img img:first-child {
    z-index: -1;
    width: 350px;
    position: relative;
    top: 2090px;
    left: 240px;
  }
  .created-img img:nth-child(2) {
    z-index: -2;
    width: 310px;
    position: relative;
    top: 2280px;
    left: 140px;
  }
  .created-text {
    text-align: center;
  }
  .drop {
    width: 100%;
    flex-direction: column;
  }
  .drop .input-all {
    width: 100%;
    flex-direction: column;
  }
  .drop .name-input-1 p {
    margin-left: 55px;
  }
  .drop .name-input-1 .name-input {
    margin-left: 50px;
  }
  .sorovnoma {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input-btn {
    margin-left: 50px;
  }
  .row {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .row .col {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .contact-img img {
    width: 534px;
  }
  .banner-fon {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .banner-fon .banner-shop-text {
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .col {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .card-history {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .banner {
    width: 100%;
    text-align: center;
  }
  .footer-card {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .footer-end {
    text-align: center;
  }
  .drop {
    width: 100%;
    flex-direction: column;
  }
  .drop .input-all {
    width: 100%;
    flex-direction: column;
  }
  .drop .name-input-1 p {
    margin-left: 55px;
  }
  .drop .name-input-1 .name-input {
    margin-left: 50px;
  }
  .sorovnoma {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input-btn {
    margin-left: 50px;
  }
  .row {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .row .col {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .contact-img img {
    width: 700px;
  }
  .banner-fon {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .banner-fon .banner-shop-text {
    text-align: center;
  }
}
.banner, .created-text, .footer-end, .row {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .col, .vesas-mini {
    -webkit-box-orient: vertical;
    width: 100%;
  }
  .col {
    flex-direction: column;
    text-align: center;
  }
  .navbar-toggler {
    align-items: center;
    justify-content: end;
  }
  .vesas-mini {
    flex-direction: column;
    margin-right: 52px;
    margin-top: 35px;
  }
}
.card-history, .footer-card, .gold, .mugs-mini {
  -webkit-box-orient: vertical;
  width: 100%;
}

.mugs-mini {
  flex-direction: column;
  margin-right: 54px;
  margin-top: 35px;
}

.card-history, .footer-card, .gold {
  flex-direction: column;
  text-align: center;
}

.created-img, .drop {
  -webkit-box-orient: vertical;
}

.created-img {
  flex-direction: column;
}
.created-img img {
  width: 350px;
  position: relative;
  top: 2090px;
  left: 240px;
}

.banner {
  width: 100%;
}

.drop {
  width: 100%;
  flex-direction: column;
  flex-direction: column;
}

.input-btn, .name-input {
  margin-left: 50px;
}

.row {
  width: 100%;
  flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .col {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .navbar-toggler {
    align-items: center;
    justify-content: end;
  }
  .vesas-mini {
    flex-direction: column;
    width: 100%;
  }
  .vesas-mini img {
    width: 80px;
    margin-right: 52px;
    margin-top: 35px;
  }
  .mugs-mini {
    flex-direction: column;
    width: 100%;
  }
  .mugs-mini img {
    width: 80px;
    margin-right: 54px;
    margin-top: 35px;
  }
  .plates-mini {
    flex-direction: column;
    width: 100%;
  }
  .plates-mini img {
    width: 80px;
    margin-right: 56px;
    margin-top: 35px;
  }
  .unique-img {
    border: 1px solid red;
  }
  .unique-img img {
    max-width: 570px;
  }
  .card-history {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .gold {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .gold .gold-about {
    margin-top: 450px;
  }
  .silver {
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .silver .silver-about {
    margin-top: -280px;
  }
  .banner {
    width: 100%;
    text-align: center;
  }
  .footer-card {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .footer-end {
    text-align: center;
  }
  .created-img {
    flex-direction: column;
  }
  .created-img img:first-child {
    z-index: -1;
    width: 350px;
    position: relative;
    top: 2090px;
    left: 240px;
  }
  .created-img img:nth-child(2) {
    z-index: -2;
    width: 310px;
    position: relative;
    top: 2280px;
    left: 140px;
  }
  .created-text {
    text-align: center;
  }
  .drop {
    width: 100%;
    flex-direction: column;
  }
  .drop .input-all {
    width: 100%;
    flex-direction: column;
  }
  .drop .name-input-1 p {
    margin-left: 55px;
  }
  .drop .name-input-1 .name-input {
    margin-left: 50px;
  }
  .sorovnoma {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input-btn {
    margin-left: 50px;
  }
  .row {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .row .col {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .contact-img img {
    width: 534px;
  }
  .banner-fon {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .banner-fon .banner-shop-text {
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .col {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .card-history {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .banner {
    width: 100%;
    text-align: center;
  }
  .footer-card {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .footer-end {
    text-align: center;
  }
  .drop {
    width: 100%;
    flex-direction: column;
  }
  .drop .input-all {
    width: 100%;
    flex-direction: column;
  }
  .drop .name-input-1 p {
    margin-left: 55px;
  }
  .drop .name-input-1 .name-input {
    margin-left: 50px;
  }
  .sorovnoma {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input-btn {
    margin-left: 50px;
  }
  .row {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .row .col {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .contact-img img {
    width: 700px;
  }
  .banner-fon {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .banner-fon .banner-shop-text {
    text-align: center;
  }
}
.banner-about {
  background: url(../images/chashka.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  align-items: center;
  margin-top: 56px;
  display: flex;
}

.banner-about-text {
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.col {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.products-cate {
  font-family: Poppins, sans-serif;
  color: rgb(215, 116, 116);
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.product-menu {
  margin-top: 50px;
}

.product-menu h1 {
  font-family: Poppins, sans-serif;
  color: black;
  font-size: 40px;
  text-align: center;
}
.product-menu h1 span {
  font-family: "Playfair Display", sans-serif;
  color: rgb(172, 19, 19);
  font-size: 38px;
}

.vesas {
  width: 240px;
  height: 240px;
  border-radius: 250px;
  background-color: rgb(228, 179, 102);
  display: flex;
  align-items: center;
  justify-content: center;
}
.vesas .vesas-mini {
  width: 200px;
  height: 200px;
  border-radius: 180px;
  background-color: rgb(235, 185, 106);
}
.vesas .vesas-mini img {
  width: 80px;
  margin-left: 58px;
  margin-top: 30px;
}
.vesas .vesas-mini h3 {
  color: white;
  text-align: center;
  margin-top: 25px;
}

.header-pompeo {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Pacifico, sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.pompeo-footer {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Pacifico, sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.fixsed-img {
  display: flex;
  align-items: end;
  justify-content: end;
  position: fixed;
  bottom: 20px;
  right: 25px;
  z-index: 999;
  text-align: center;
}

.mugs {
  width: 240px;
  height: 240px;
  border-radius: 250px;
  background-color: rgb(240, 91, 16);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mugs .mugs-mini {
  width: 200px;
  height: 200px;
  border-radius: 180px;
  background-color: rgba(255, 85, 0, 0.84);
}
.mugs .mugs-mini img {
  width: 80px;
  margin-left: 58px;
  margin-top: 30px;
}
.mugs .mugs-mini h3 {
  color: white;
  text-align: center;
  margin-top: 25px;
}

.plates {
  width: 240px;
  height: 240px;
  border-radius: 250px;
  background-color: rgb(162, 16, 16);
  display: flex;
  align-items: center;
  justify-content: center;
}
.plates .plates-mini {
  width: 200px;
  height: 200px;
  border-radius: 180px;
  background-color: rgb(204, 17, 17);
}
.plates .plates-mini img {
  width: 80px;
  margin-left: 58px;
  margin-top: 30px;
}
.plates .plates-mini h3 {
  color: white;
  text-align: center;
  margin-top: 25px;
}

.card-history {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
.card-history div {
  width: 50%;
}
.card-history div p {
  color: rgb(170, 170, 170);
}
.card-history div h1 {
  font-size: 35px;
}

.talented {
  text-align: center;
}
.talented h2 {
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 40px;
}
.talented p {
  color: rgb(215, 116, 116);
  text-transform: uppercase;
}

.card-img img {
  width: 25px;
  border: 1px solid #aaa;
  padding: 5px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px 0px;
}
.card-img img:hover {
  border: 1px solid chocolate;
}

.card-item img, .card-item h4, .card-item p {
  margin: 20px 0px;
}

.personal {
  width: 90px;
  height: 90px;
  border-radius: 150px;
}

.card-item {
  text-align: center;
  height: 400px;
  margin: 35px 0px;
  width: 300px;
}

.created-img {
  background-color: rgb(170, 170, 170);
}
.created-img img:first-child {
  z-index: -1;
  width: 350px;
  position: absolute;
  top: 1890px;
  left: 240px;
}
.created-img img:nth-child(2) {
  z-index: -2;
  width: 310px;
  position: absolute;
  top: 2080px;
  left: 140px;
}

.created {
  display: flex;
  align-items: center;
}

.created-text {
  margin-left: 600px;
  margin-top: 400px;
}
.created-text h3 {
  font-size: 48px;
}
.created-text span {
  position: relative;
  font-family: "Playfair Display", sans-serif;
  color: #ac1313;
  font-size: 48px;
}

.footer-head {
  text-align: center;
}
.footer-head p {
  color: rgb(170, 170, 170);
}

footer {
  margin-top: 280px;
}

.card-1 {
  text-align: center;
}
.card-1 img {
  width: 45px;
}
.card-1 p {
  color: rgb(170, 170, 170);
}

.footer-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 220px;
  margin-top: 70px;
  margin-bottom: 60px;
}

.footer-end {
  text-align: center;
}
.footer-end span {
  color: rgb(170, 170, 170);
}

.unique-span {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 48px;
}

.banner-about, .col, .row {
  display: -ms-flexbox;
}

.product-menu h1, .products-cate {
  font-family: Poppins, sans-serif;
  text-align: center;
}

.fixsed-img, header {
  position: fixed;
  z-index: 999;
}

.products-cate, p {
  color: #d77474;
  text-transform: uppercase;
}

.card-1, .card-item, .fixsed-img, .footer-end, .pompeo-footer, .product-menu h1, .products-cate, h3 {
  text-align: center;
}

.banner-about {
  background: url(../images/chashka.jpg) 0 0/cover no-repeat;
  height: 400px;
  align-items: center;
  margin-top: 56px;
  display: flex;
}

.banner-about-text {
  align-items: center;
}

.col, .mugs, .row {
  -webkit-box-align: center;
}

header {
  top: 0;
  left: 0;
  right: 0;
}

.col, .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fixsed-img, .mugs {
  display: -ms-flexbox;
}

.products-cate {
  font-size: 14px;
}

.product-menu {
  margin-top: 50px;
}

.product-menu h1 {
  color: #ac1313;
  font-size: 38px;
}

.pompeo-footer {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Pacifico, sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
}

.fixsed-img {
  display: flex;
  align-items: end;
  justify-content: end;
  bottom: 20px;
  right: 25px;
}

.mugs {
  width: 240px;
  border-radius: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: rgba(255, 85, 0, 0.84);
  margin-left: 58px;
  margin-top: 30px;
}

h3 {
  color: #fff;
  margin-top: 25px;
}

h1 {
  font-size: 35px;
}

p {
  color: rgb(170, 170, 170);
}

img:hover {
  border: 1px solid #d2691e;
}

.card-item {
  height: 400px;
  margin: 35px 0;
  width: 300px;
}

.created-img {
  background-color: rgb(170, 170, 170);
}

img {
  width: 350px;
  position: absolute;
  top: 1890px;
  left: 240px;
}

.created {
  display: flex;
  align-items: center;
}

.created-text {
  margin-left: 600px;
  margin-top: 400px;
}

span {
  position: relative;
  font-family: "Playfair Display", sans-serif;
  color: #ac1313;
  font-size: 48px;
}

.banner-about {
  background: url(../images/chashka.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  align-items: center;
  margin-top: 56px;
  display: flex;
}

.banner-about-text {
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.col {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.products-cate {
  font-family: Poppins, sans-serif;
  color: rgb(215, 116, 116);
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.product-menu {
  margin-top: 50px;
}

.product-menu h1 {
  font-family: Poppins, sans-serif;
  color: black;
  font-size: 40px;
  text-align: center;
}
.product-menu h1 span {
  font-family: "Playfair Display", sans-serif;
  color: rgb(172, 19, 19);
  font-size: 38px;
}

.vesas {
  width: 240px;
  height: 240px;
  border-radius: 250px;
  background-color: rgb(228, 179, 102);
  display: flex;
  align-items: center;
  justify-content: center;
}
.vesas .vesas-mini {
  width: 200px;
  height: 200px;
  border-radius: 180px;
  background-color: rgb(235, 185, 106);
}
.vesas .vesas-mini img {
  width: 80px;
  margin-left: 58px;
  margin-top: 30px;
}
.vesas .vesas-mini h3 {
  color: white;
  text-align: center;
  margin-top: 25px;
}

.header-pompeo {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Pacifico, sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.pompeo-footer {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Pacifico, sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.fixsed-img {
  display: flex;
  align-items: end;
  justify-content: end;
  position: fixed;
  bottom: 20px;
  right: 25px;
  z-index: 999;
  text-align: center;
}

.mugs {
  width: 240px;
  height: 240px;
  border-radius: 250px;
  background-color: rgb(240, 91, 16);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mugs .mugs-mini {
  width: 200px;
  height: 200px;
  border-radius: 180px;
  background-color: rgba(255, 85, 0, 0.84);
}
.mugs .mugs-mini img {
  width: 80px;
  margin-left: 58px;
  margin-top: 30px;
}
.mugs .mugs-mini h3 {
  color: white;
  text-align: center;
  margin-top: 25px;
}

.plates {
  width: 240px;
  height: 240px;
  border-radius: 250px;
  background-color: rgb(162, 16, 16);
  display: flex;
  align-items: center;
  justify-content: center;
}
.plates .plates-mini {
  width: 200px;
  height: 200px;
  border-radius: 180px;
  background-color: rgb(204, 17, 17);
}
.plates .plates-mini img {
  width: 80px;
  margin-left: 58px;
  margin-top: 30px;
}
.plates .plates-mini h3 {
  color: white;
  text-align: center;
  margin-top: 25px;
}

.card-history {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
.card-history div {
  width: 50%;
}
.card-history div p {
  color: rgb(170, 170, 170);
}
.card-history div h1 {
  font-size: 35px;
}

.talented {
  text-align: center;
}
.talented h2 {
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 40px;
}
.talented p {
  color: rgb(215, 116, 116);
  text-transform: uppercase;
}

.card-img img {
  width: 25px;
  border: 1px solid #aaa;
  padding: 5px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px 0px;
}
.card-img img:hover {
  border: 1px solid chocolate;
}

.card-item img, .card-item h4, .card-item p {
  margin: 20px 0px;
}

.personal {
  width: 90px;
  height: 90px;
  border-radius: 150px;
}

.card-item {
  text-align: center;
  height: 400px;
  margin: 35px 0px;
  width: 300px;
}

.created-img {
  background-color: rgb(170, 170, 170);
}
.created-img img:first-child {
  z-index: -1;
  width: 350px;
  position: absolute;
  top: 1890px;
  left: 240px;
}
.created-img img:nth-child(2) {
  z-index: -2;
  width: 310px;
  position: absolute;
  top: 2080px;
  left: 140px;
}

.created {
  display: flex;
  align-items: center;
}

.created-text {
  margin-left: 600px;
  margin-top: 400px;
}
.created-text h3 {
  font-size: 48px;
}
.created-text span {
  position: relative;
  font-family: "Playfair Display", sans-serif;
  color: #ac1313;
  font-size: 48px;
}

.footer-head {
  text-align: center;
}
.footer-head p {
  color: rgb(170, 170, 170);
}

footer {
  margin-top: 280px;
}

.card-1 {
  text-align: center;
}
.card-1 img {
  width: 45px;
}
.card-1 p {
  color: rgb(170, 170, 170);
}

.footer-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 220px;
  margin-top: 70px;
  margin-bottom: 60px;
}

.footer-end {
  text-align: center;
}
.footer-end span {
  color: rgb(170, 170, 170);
}

.unique-span {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 48px;
}/*# sourceMappingURL=about.css.map */