/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@import url(ozgaruvchi.scss);
@import url(responsive.scss);
@media screen and (max-width: 600px) {
  .col {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .navbar-toggler {
    align-items: center;
    justify-content: end;
  }
  .vesas-mini {
    flex-direction: column;
    width: 100%;
  }
  .vesas-mini img {
    width: 80px;
    margin-right: 52px;
    margin-top: 35px;
  }
  .mugs-mini {
    flex-direction: column;
    width: 100%;
  }
  .mugs-mini img {
    width: 80px;
    margin-right: 54px;
    margin-top: 35px;
  }
  .plates-mini {
    flex-direction: column;
    width: 100%;
  }
  .plates-mini img {
    width: 80px;
    margin-right: 56px;
    margin-top: 35px;
  }
  .unique-img {
    border: 1px solid red;
  }
  .unique-img img {
    max-width: 570px;
  }
  .card-history {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .gold {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .gold .gold-about {
    margin-top: 450px;
  }
  .silver {
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .silver .silver-about {
    margin-top: -280px;
  }
  .banner {
    width: 100%;
    text-align: center;
  }
  .footer-card {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .footer-end {
    text-align: center;
  }
  .created-img {
    flex-direction: column;
  }
  .created-img img:first-child {
    z-index: -1;
    width: 350px;
    position: relative;
    top: 2090px;
    left: 240px;
  }
  .created-img img:nth-child(2) {
    z-index: -2;
    width: 310px;
    position: relative;
    top: 2280px;
    left: 140px;
  }
  .created-text {
    text-align: center;
  }
  .drop {
    width: 100%;
    flex-direction: column;
  }
  .drop .input-all {
    width: 100%;
    flex-direction: column;
  }
  .drop .name-input-1 p {
    margin-left: 55px;
  }
  .drop .name-input-1 .name-input {
    margin-left: 50px;
  }
  .sorovnoma {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input-btn {
    margin-left: 50px;
  }
  .row {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .row .col {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .contact-img img {
    width: 534px;
  }
  .banner-fon {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .banner-fon .banner-shop-text {
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .col {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .card-history {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .banner {
    width: 100%;
    text-align: center;
  }
  .footer-card {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .footer-end {
    text-align: center;
  }
  .drop {
    width: 100%;
    flex-direction: column;
  }
  .drop .input-all {
    width: 100%;
    flex-direction: column;
  }
  .drop .name-input-1 p {
    margin-left: 55px;
  }
  .drop .name-input-1 .name-input {
    margin-left: 50px;
  }
  .sorovnoma {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input-btn {
    margin-left: 50px;
  }
  .row {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .row .col {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .contact-img img {
    width: 700px;
  }
  .banner-fon {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .banner-fon .banner-shop-text {
    text-align: center;
  }
}
.banner, .created-text, .footer-end, .row {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .col, .vesas-mini {
    -webkit-box-orient: vertical;
    width: 100%;
  }
  .col {
    flex-direction: column;
    text-align: center;
  }
  .navbar-toggler {
    align-items: center;
    justify-content: end;
  }
  .vesas-mini {
    flex-direction: column;
    margin-right: 52px;
    margin-top: 35px;
  }
}
.card-history, .footer-card, .gold, .mugs-mini {
  -webkit-box-orient: vertical;
  width: 100%;
}

.mugs-mini {
  flex-direction: column;
  margin-right: 54px;
  margin-top: 35px;
}

.card-history, .footer-card, .gold {
  flex-direction: column;
  text-align: center;
}

.created-img, .drop {
  -webkit-box-orient: vertical;
}

.created-img {
  flex-direction: column;
}
.created-img img {
  width: 350px;
  position: relative;
  top: 2090px;
  left: 240px;
}

.banner {
  width: 100%;
}

.drop {
  width: 100%;
  flex-direction: column;
  flex-direction: column;
}

.input-btn, .name-input {
  margin-left: 50px;
}

.row {
  width: 100%;
  flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .col {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .navbar-toggler {
    align-items: center;
    justify-content: end;
  }
  .vesas-mini {
    flex-direction: column;
    width: 100%;
  }
  .vesas-mini img {
    width: 80px;
    margin-right: 52px;
    margin-top: 35px;
  }
  .mugs-mini {
    flex-direction: column;
    width: 100%;
  }
  .mugs-mini img {
    width: 80px;
    margin-right: 54px;
    margin-top: 35px;
  }
  .plates-mini {
    flex-direction: column;
    width: 100%;
  }
  .plates-mini img {
    width: 80px;
    margin-right: 56px;
    margin-top: 35px;
  }
  .unique-img {
    border: 1px solid red;
  }
  .unique-img img {
    max-width: 570px;
  }
  .card-history {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .gold {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .gold .gold-about {
    margin-top: 450px;
  }
  .silver {
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .silver .silver-about {
    margin-top: -280px;
  }
  .banner {
    width: 100%;
    text-align: center;
  }
  .footer-card {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .footer-end {
    text-align: center;
  }
  .created-img {
    flex-direction: column;
  }
  .created-img img:first-child {
    z-index: -1;
    width: 350px;
    position: relative;
    top: 2090px;
    left: 240px;
  }
  .created-img img:nth-child(2) {
    z-index: -2;
    width: 310px;
    position: relative;
    top: 2280px;
    left: 140px;
  }
  .created-text {
    text-align: center;
  }
  .drop {
    width: 100%;
    flex-direction: column;
  }
  .drop .input-all {
    width: 100%;
    flex-direction: column;
  }
  .drop .name-input-1 p {
    margin-left: 55px;
  }
  .drop .name-input-1 .name-input {
    margin-left: 50px;
  }
  .sorovnoma {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input-btn {
    margin-left: 50px;
  }
  .row {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .row .col {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .contact-img img {
    width: 534px;
  }
  .banner-fon {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .banner-fon .banner-shop-text {
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .col {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .card-history {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .banner {
    width: 100%;
    text-align: center;
  }
  .footer-card {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .footer-end {
    text-align: center;
  }
  .drop {
    width: 100%;
    flex-direction: column;
  }
  .drop .input-all {
    width: 100%;
    flex-direction: column;
  }
  .drop .name-input-1 p {
    margin-left: 55px;
  }
  .drop .name-input-1 .name-input {
    margin-left: 50px;
  }
  .sorovnoma {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input-btn {
    margin-left: 50px;
  }
  .row {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .row .col {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .contact-img img {
    width: 700px;
  }
  .banner-fon {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .banner-fon .banner-shop-text {
    text-align: center;
  }
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@media screen and (max-width: 600px) {
  .col {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .navbar-toggler {
    align-items: center;
    justify-content: end;
  }
  .vesas-mini {
    flex-direction: column;
    width: 100%;
  }
  .vesas-mini img {
    width: 80px;
    margin-right: 52px;
    margin-top: 35px;
  }
  .mugs-mini {
    flex-direction: column;
    width: 100%;
  }
  .mugs-mini img {
    width: 80px;
    margin-right: 54px;
    margin-top: 35px;
  }
  .plates-mini {
    flex-direction: column;
    width: 100%;
  }
  .plates-mini img {
    width: 80px;
    margin-right: 56px;
    margin-top: 35px;
  }
  .unique-img {
    border: 1px solid red;
  }
  .unique-img img {
    max-width: 570px;
  }
  .card-history {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .gold {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .gold .gold-about {
    margin-top: 450px;
  }
  .silver {
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .silver .silver-about {
    margin-top: -280px;
  }
  .banner {
    width: 100%;
    text-align: center;
  }
  .footer-card {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .footer-end {
    text-align: center;
  }
  .created-img {
    flex-direction: column;
  }
  .created-img img:first-child {
    z-index: -1;
    width: 350px;
    position: relative;
    top: 2090px;
    left: 240px;
  }
  .created-img img:nth-child(2) {
    z-index: -2;
    width: 310px;
    position: relative;
    top: 2280px;
    left: 140px;
  }
  .created-text {
    text-align: center;
  }
  .drop {
    width: 100%;
    flex-direction: column;
  }
  .drop .input-all {
    width: 100%;
    flex-direction: column;
  }
  .drop .name-input-1 p {
    margin-left: 55px;
  }
  .drop .name-input-1 .name-input {
    margin-left: 50px;
  }
  .sorovnoma {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input-btn {
    margin-left: 50px;
  }
  .row {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .row .col {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .contact-img img {
    width: 534px;
  }
  .banner-fon {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .banner-fon .banner-shop-text {
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .col {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .card-history {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .banner {
    width: 100%;
    text-align: center;
  }
  .footer-card {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .footer-end {
    text-align: center;
  }
  .drop {
    width: 100%;
    flex-direction: column;
  }
  .drop .input-all {
    width: 100%;
    flex-direction: column;
  }
  .drop .name-input-1 p {
    margin-left: 55px;
  }
  .drop .name-input-1 .name-input {
    margin-left: 50px;
  }
  .sorovnoma {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input-btn {
    margin-left: 50px;
  }
  .row {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .row .col {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .contact-img img {
    width: 700px;
  }
  .banner-fon {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .banner-fon .banner-shop-text {
    text-align: center;
  }
}
.banner, .created-text, .footer-end, .row {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .col, .vesas-mini {
    -webkit-box-orient: vertical;
    width: 100%;
  }
  .col {
    flex-direction: column;
    text-align: center;
  }
  .navbar-toggler {
    align-items: center;
    justify-content: end;
  }
  .vesas-mini {
    flex-direction: column;
    margin-right: 52px;
    margin-top: 35px;
  }
}
.card-history, .footer-card, .gold, .mugs-mini {
  -webkit-box-orient: vertical;
  width: 100%;
}

.mugs-mini {
  flex-direction: column;
  margin-right: 54px;
  margin-top: 35px;
}

.card-history, .footer-card, .gold {
  flex-direction: column;
  text-align: center;
}

.created-img, .drop {
  -webkit-box-orient: vertical;
}

.created-img {
  flex-direction: column;
}
.created-img img {
  width: 350px;
  position: relative;
  top: 2090px;
  left: 240px;
}

.banner {
  width: 100%;
}

.drop {
  width: 100%;
  flex-direction: column;
  flex-direction: column;
}

.input-btn, .name-input {
  margin-left: 50px;
}

.row {
  width: 100%;
  flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .col {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .navbar-toggler {
    align-items: center;
    justify-content: end;
  }
  .vesas-mini {
    flex-direction: column;
    width: 100%;
  }
  .vesas-mini img {
    width: 80px;
    margin-right: 52px;
    margin-top: 35px;
  }
  .mugs-mini {
    flex-direction: column;
    width: 100%;
  }
  .mugs-mini img {
    width: 80px;
    margin-right: 54px;
    margin-top: 35px;
  }
  .plates-mini {
    flex-direction: column;
    width: 100%;
  }
  .plates-mini img {
    width: 80px;
    margin-right: 56px;
    margin-top: 35px;
  }
  .unique-img {
    border: 1px solid red;
  }
  .unique-img img {
    max-width: 570px;
  }
  .card-history {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .gold {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .gold .gold-about {
    margin-top: 450px;
  }
  .silver {
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .silver .silver-about {
    margin-top: -280px;
  }
  .banner {
    width: 100%;
    text-align: center;
  }
  .footer-card {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .footer-end {
    text-align: center;
  }
  .created-img {
    flex-direction: column;
  }
  .created-img img:first-child {
    z-index: -1;
    width: 350px;
    position: relative;
    top: 2090px;
    left: 240px;
  }
  .created-img img:nth-child(2) {
    z-index: -2;
    width: 310px;
    position: relative;
    top: 2280px;
    left: 140px;
  }
  .created-text {
    text-align: center;
  }
  .drop {
    width: 100%;
    flex-direction: column;
  }
  .drop .input-all {
    width: 100%;
    flex-direction: column;
  }
  .drop .name-input-1 p {
    margin-left: 55px;
  }
  .drop .name-input-1 .name-input {
    margin-left: 50px;
  }
  .sorovnoma {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input-btn {
    margin-left: 50px;
  }
  .row {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .row .col {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .contact-img img {
    width: 534px;
  }
  .banner-fon {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .banner-fon .banner-shop-text {
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .col {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .card-history {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .banner {
    width: 100%;
    text-align: center;
  }
  .footer-card {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .footer-end {
    text-align: center;
  }
  .drop {
    width: 100%;
    flex-direction: column;
  }
  .drop .input-all {
    width: 100%;
    flex-direction: column;
  }
  .drop .name-input-1 p {
    margin-left: 55px;
  }
  .drop .name-input-1 .name-input {
    margin-left: 50px;
  }
  .sorovnoma {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input-btn {
    margin-left: 50px;
  }
  .row {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .row .col {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .contact-img img {
    width: 700px;
  }
  .banner-fon {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .banner-fon .banner-shop-text {
    text-align: center;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header-pompeo {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Pacifico, sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-royxat {
  margin-right: 150px;
}

.pompeo-footer {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Pacifico, sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.header-pompeo {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Pacifico, sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.pompeo-footer {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Pacifico, sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.banner-shop {
  margin-top: 58px;
  background: url(../images/tarelkalar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  align-items: center;
}
.banner-shop .banner-shop-text h1 {
  font-size: 40px;
  margin-top: 100px;
}
.banner-shop .banner-shop-text p {
  color: rgb(170, 170, 170);
}
.banner-shop .banner-fon {
  height: 404px;
  padding: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

.online-store {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}
.online-store p {
  text-transform: uppercase;
  color: rgb(215, 116, 116);
  font-size: 16px;
}
.online-store h2 {
  font-size: 40px;
}

.card-img-item {
  transition: all 1s;
}
.card-img-item .card-img-item:hover {
  box-shadow: 0px 0px 10px 10px #aaa;
  transform: scale(1.2);
}

.latest-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.latest-1 .icon-telegram {
  background-color: rgb(235, 185, 106);
  border-radius: 100%;
}

.latest {
  text-align: center;
}
.latest h3 {
  font-size: 35px;
}
.latest h3 span {
  color: rgb(172, 19, 19);
}

.latest-news {
  text-transform: uppercase;
  color: rgb(215, 116, 116);
}

.input-message {
  display: flex;
  text-align: center;
  width: 260px;
  border: 1px solid #aaa;
}
.input-message img {
  width: 35px;
}
.input-message input {
  border: none;
}
.input-message button {
  text-transform: uppercase;
  padding: 10px 40px;
  border: none;
  background-color: black;
  color: white;
  margin-left: 40px;
  transition: all 0.5s;
}
.input-message button:hover {
  background-color: rgb(172, 19, 19);
}

label {
  color: rgb(170, 170, 170);
}

.checkbox {
  margin-left: 120px;
  margin-top: 30px;
  text-align: center;
  display: flex;
  align-items: center;
}
.checkbox label {
  margin-top: 5px;
}

.footer-end {
  text-align: center;
}
.footer-end span {
  color: rgb(170, 170, 170);
}

.unique-span {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 48px;
}

.banner-shop, .header-navigation {
  display: -ms-flexbox;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner-shop, .latest-1 {
  -webkit-box-align: center;
}

.header-royxat {
  margin-right: 150px;
}

.header-pompeo, .pompeo-footer {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Pacifico, sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.banner-shop {
  background: url(../images/tarelkalar.jpg) 0 0/cover no-repeat;
  height: 400px;
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.input-message, .latest-1 {
  display: -ms-flexbox;
}

p {
  color: #aaa;
}

h2 {
  font-size: 40px;
}

.latest-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

button, input {
  border: none;
}

.input-message {
  display: flex;
  text-align: center;
  width: 260px;
  border: 1px solid #aaa;
}

button {
  text-transform: uppercase;
  padding: 10px 40px;
  background-color: #000;
  color: #fff;
  margin-left: 40px;
  transition: 0.5s;
}

button:hover {
  background-color: #ac1313;
}

.checkbox {
  margin-left: 120px;
  margin-top: 30px;
  text-align: center;
  display: flex;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header-pompeo {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Pacifico, sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-royxat {
  margin-right: 150px;
}

.pompeo-footer {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Pacifico, sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.header-pompeo {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Pacifico, sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.pompeo-footer {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Pacifico, sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.banner-shop {
  margin-top: 58px;
  background: url(../images/tarelkalar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  align-items: center;
}
.banner-shop .banner-shop-text h1 {
  font-size: 40px;
  margin-top: 100px;
}
.banner-shop .banner-shop-text p {
  color: rgb(170, 170, 170);
}
.banner-shop .banner-fon {
  height: 404px;
  padding: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

.online-store {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}
.online-store p {
  text-transform: uppercase;
  color: rgb(215, 116, 116);
  font-size: 16px;
}
.online-store h2 {
  font-size: 40px;
}

.card-img-item {
  transition: all 1s;
}
.card-img-item .card-img-item:hover {
  box-shadow: 0px 0px 10px 10px #aaa;
  transform: scale(1.2);
}

.latest-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.latest-1 .icon-telegram {
  background-color: rgb(235, 185, 106);
  border-radius: 100%;
}

.latest {
  text-align: center;
}
.latest h3 {
  font-size: 35px;
}
.latest h3 span {
  color: rgb(172, 19, 19);
}

.latest-news {
  text-transform: uppercase;
  color: rgb(215, 116, 116);
}

.input-message {
  display: flex;
  text-align: center;
  width: 260px;
  border: 1px solid #aaa;
}
.input-message img {
  width: 35px;
}
.input-message input {
  border: none;
}
.input-message button {
  text-transform: uppercase;
  padding: 10px 40px;
  border: none;
  background-color: black;
  color: white;
  margin-left: 40px;
  transition: all 0.5s;
}
.input-message button:hover {
  background-color: rgb(172, 19, 19);
}

label {
  color: rgb(170, 170, 170);
}

.checkbox {
  margin-left: 120px;
  margin-top: 30px;
  text-align: center;
  display: flex;
  align-items: center;
}
.checkbox label {
  margin-top: 5px;
}

.footer-end {
  text-align: center;
}
.footer-end span {
  color: rgb(170, 170, 170);
}

.unique-span {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 48px;
}/*# sourceMappingURL=shop.css.map */