/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "../style/ozgaruvchi.scss";
@import "../style/responsive.scss";

.banner-about{
    background: url(../images/chashka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.banner-about-text{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.col{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.products-cate{
    font-family: Poppins, sans-serif;
    color: rgb(215, 116, 116);
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}
.product-menu{
    margin-top: 50px;
}
.product-menu h1{
    font-family: Poppins, sans-serif;
    color: black;
    font-size: 40px;
    text-align: center;
    span{
        font-family: 'Playfair Display', sans-serif;
        color: rgb(172, 19, 19);
        font-size: 38px;
    }
}
.vesas{
    width: 240px;
    height: 240px;
    border-radius: 250px;
    background-color: rgb(228, 179, 102);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    .vesas-mini{
        width: 200px;
        height: 200px;
        border-radius: 180px;
        background-color: rgb(235, 185, 106);
        img{
            width: 80px;
            margin-left: 58px;
            margin-top: 30px;
        }
        h3{
            color: white;
            text-align: center;
            margin-top: 25px;
        }
    }
}
.header-pompeo{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Pacifico, sans-serif;
    font-size: 34px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
}
.pompeo-footer{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Pacifico, sans-serif;
    font-size: 34px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
}
.fixsed-img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 999;
    text-align: center;
}
.mugs{
    width: 240px;
    height: 240px;
    border-radius: 250px;
    background-color: rgb(240, 91, 16);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    .mugs-mini{
        width: 200px;
        height: 200px;
        border-radius: 180px;
        background-color: rgba(255, 85, 0, 0.84);
        img{
            width: 80px;
            margin-left: 58px;
            margin-top: 30px;
        }
        h3{
            color: white;
            text-align: center;
            margin-top: 25px;
        }
    }
}
.plates{
    width: 240px;
    height: 240px;
    border-radius: 250px;
    background-color: rgb(162, 16, 16);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    .plates-mini{
        width: 200px;
        height: 200px;
        border-radius: 180px;
        background-color: rgb(204, 17, 17);
        img{
            width: 80px;
            margin-left: 58px;
            margin-top: 30px;
        }
        h3{
            color: white;
            text-align: center;
            margin-top: 25px;
        }
    }
}
.card-history{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 50px;
    div{
        width: 50%;
        p{
            color: $kul-rang;
        }
        h1{
            font-size: 35px;
        }
    }
}
.talented{
    text-align: center;
    h2{
        font-family: Poppins, sans-serif;
        color: #000;
        font-size: 40px;
    }
    p{
        color: rgb(215, 116, 116);
        text-transform: uppercase;
    }
}
.card-img{
    img{
        width: 25px;
        border: 1px solid #aaa;
        padding: 5px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 10px 0px;
    }
    img:hover{
        border: 1px solid chocolate;
    }
}
.card-item{
    img, h4, p{
        margin: 20px 0px;
    }
}
.personal{
    width: 90px;
    height: 90px;
    border-radius: 150px;
}
.card-item{
    text-align: center;
    height: 400px;
    margin: 35px 0px;
    width: 300px;
}
.created-img{
    background-color: $kul-rang;
    img:first-child{
        z-index: -1;
        width: 350px;
        position: absolute;
        top: 1890px;
        left: 240px;
    }
    img:nth-child(2){
        z-index: -2;
        width: 310px;
        position: absolute;
        top: 2080px;
        left: 140px;
    }
}
.created{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.created-text{
    margin-left: 600px;
    margin-top: 400px;
    h3{
        font-size: 48px;
    }
    span{
        position: relative;
        font-family: 'Playfair Display', sans-serif;
        color: #ac1313;
        font-size: 48px;
    }
}
.footer-head{
    text-align: center;
    p{
        color: $kul-rang;
    }
}
footer{
    margin-top: 280px;
}
.card-1{
    text-align: center;
    img{
        width: 45px;
    }
    p{
        color: $kul-rang;
    }
}
.footer-card{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 220px;
    margin-top: 70px;
    margin-bottom: 60px;
}
.footer-end{
    text-align: center;
    span{
        color: $kul-rang;
    }
}
.unique-span{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 48px;
}